@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.animasi {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animasi.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animasi.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animasi.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animasi.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
